@page "/Verdura"
@page "/Verdura/{VerduraId:int}"
@inject VerdurasBLL verdurasBLL
@inject VitaminasBLL vitaminasBLL

<EditForm Model="verdura" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card-header">
        <h3>Registro de Verduras</h3>
    </div>

    <div class="card-body">

        <div class="row justify-content-between">

            <div class="col-3">
                <label>VerduraId</label>
                <div class="input-group mb-3">
                    <InputNumber class="form- control" @bind-Value="verdura.VerduraId">
                    </InputNumber>
                    <button class="btn btn-outline-primary" @onclick="Buscar" type="button"> <i
                            class="oi oi-magnifying-glass" />
                    </button>
                </div>
            </div>

            <div class="col-3">
                <label>Fecha de Creacion</label>
                <InputDate class="form-control " @bind-Value="verdura.FechaCreacion"></InputDate>
            </div>
        </div>
        @*Nombre de la verdura*@
        <label>Nombre de la Verdura</label>
        <div class="input-group input-group-lg">
            <InputText class="form-control" @bind-Value="verdura.Nombre"></InputText>
        </div>
    </div>
    @* Verdura DETALLE *@
    <fieldset class="border-success">
        <div class="row">
            @* Vitamina Id *@
            <div class="col-2">
                <label>Vitaminas</label>
                <InputSelect class="form-select" @bind-Value="detalle.VitaminaId">
                    <option value="0" disabled> Seleccione </option>
                    @foreach (var vitamina in ListVitaminas)
                    {
                        <option value="@vitamina.VitaminaId"> @vitamina.Descripcion</option>
                    }
                </InputSelect>
            </div>
            @* Descripcion *@
            <div class="col-2">
                <label>Descripcion</label>
                @* <InputText class="form-control" @bind-Value="detalle."></InputText>*@
            </div>
            @* Cantidad *@
            <div class="col-2">
                <label>Cantidad</label>
                <InputNumber class="form-control" @bind-Value="detalle.Cantidad"></InputNumber>
            </div>
            @*Boton de agregar detalle*@
            <div class="col-2">
                <button type="button" @onclick="AgregarDetalles" class="btn btn-outline-primary input-group-text mt-4">
                    <span class="oi oi-plus"></span>
                </button>
            </div>
        </div>

    </fieldset>


    @* Tabla de detalles *@
    <hr />
    <table class="table table-bordered table-light">
        <thead class="thead">
            <tr class="table">
                <th>VitaminaId</th>
                <th>Cantidad</th>
                <th>Unidad de medida</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in verdura.Detalle)
            {
                <tr>
                    <td>@item.VitaminaId</td>
                    <td>@item.Cantidad</td>

                </tr>
            }


        </tbody>
    </table>
    <hr />
    @*Observaciones*@
    <div class="form-floating">
        <InputTextArea class="form-control" @bind-Value="verdura.Observaciones"></InputTextArea>
    </div>
    <div class="card-footer d-flex justify-content-center">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary" @onclick="Nuevo"> <i class="oi oi-file" />
                Nuevo</button>
            <button type="submit" class="btn btn-outline-success"> <i class="oi oi-document" /> Guardar</button>
            <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><i class="oi oi-trash" />
                Eliminar</button>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]

    public int VerduraId { get; set; }
    public Verduras verdura { get; set; } = new Verduras();

    public List<Vitaminas> ListVitaminas { get; set; } = new List<Vitaminas>();
    public VerdurasDetalle detalle { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ListVitaminas = vitaminasBLL.GetList();
        verdura.VerduraId = 0;
        verdura.FechaCreacion = DateTime.Now;
        verdura.Nombre = "";
        detalle = new VerdurasDetalle();

    }

    public void AgregarDetalles()
    {
        var buscado = vitaminasBLL.Buscar(detalle.VitaminaId);

        if (buscado != null)
        {
            detalle.VitaminaId = detalle.VitaminaId;
            verdura.Detalle.Add(detalle);
            detalle = new VerdurasDetalle();
        }
        else
        {
            Console.WriteLine("es nulo");
        }



    }

    public void Nuevo()
    {

        verdura = new Verduras();
        detalle = new VerdurasDetalle();

    }
    public void Guardar()
    {
        var guardo = verdurasBLL.Guardar(verdura);
        if (guardo != null)
        {
            Nuevo();
        }

    }

    public void Eliminar()
    {
        bool eliminado = verdurasBLL.Eliminar(verdura);
        
        if (eliminado != null)
        {
            Nuevo();

        }

    }

    public void Buscar()
    {

        var buscado = verdurasBLL.Buscar(VerduraId);

        if (buscado != null)
        {
            Console.WriteLine("Busca");
        }
        else
        {
            Console.WriteLine("No Busca");
        }

    }



}